@import url(./badge.css);
@import url(./messagerie_last.css);
@import url(../../public/admin/icofont/icofont.min.css);
@import url("./animation.css");
@import url("./custum.css");
@import url("../../public/admin/fontawesome-free/css/all.min.css");
@import url("./forms.css");
/* @import url(./messagerie.css); */
/********************************MODAL-FONT-AWESOME-ICON-BEGIN*********************/
.md_icon{
    font-size: 20px;
    cursor: pointer;
}
.md_icon:hover{
    color: #de3333;
}
/********************************MODAL-FONT-AWESOME-ICON-BEGIN*********************/

/********************************INPUT-FORM**************************************/
.input_form{
    border: 1px solid #2f3640;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.input_form_item{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 15px;
}

.error_txt{
    color: #dd3333;
}
/********************Pagination-begin*************************/
.no-cursor {
    cursor: default !important;
    pointer-events: none;
}
.pagination_btn{
    background-color: rgb(81, 79, 79);
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}
.disabled{
    background-color: rgb(81, 79, 79);
    opacity: 0.6;
    pointer-events: none;
}
.active{
    background-color:#dd3333 ;
}
/*******************Pagination-end-here************************/
/********************************DELETE-BTN-BEGIN********************************/
.mdl-btn-danger{
    margin-left: 1rem;
    padding: 5px 14px;
    border-radius: 5px;
    background-color: #dd3333;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}
.mdl-btn-primary{
    margin-left: 1rem;
    padding: 5px 14px;
    border-radius: 5px;
    background-color: #2f3640;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}
/********************************DELETE-BTN-END********************************/
/************************ANOTHER-STYLES********************/
    /* Using codepen button style :) */
    .button {
        display: inline-block;
        border: 0;
        outline: 0;
        padding: 5px 14px;
        margin-left: 1rem;
        font-weight: 900;
        background: linear-gradient(#4d4d4d,#2f2f2f);
        border-radius: 5px;
        color: white !important;
        cursor: pointer;
        /* Important part */
        position: relative;
        transition: padding-right .3s ease-out;
    }
    .button.loading {
        background-color: #CCC;
        padding-right: 40px;
    }
    .button.loading:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        right: 6px;
        top: 50%;
        width: 0px;
        height: 0px;
        margin-top: -2px;
        border: 2px solid rgba(255,255,255,0.5);
        border-left-color: #FFF;
        border-top-color: #FFF;
        animation: spin .6s infinite linear, grow .3s forwards ease-out;
    }
    @keyframes spin { 
        to {
            transform: rotate(359deg);
        }
    }
    @keyframes grow { 
        to {
            width: 14px;
            height: 14px;
            margin-top: -8px;
            right: 13px;
        }
    }