
/********************************DELETE-BTN********************************/
.mdl-btn-danger{
    margin-left: 1rem;
    padding: 5px 14px;
    border-radius: 5px;
    background-color: #dd3333;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}
.mdl-btn-primary{
    margin-left: 1rem;
    padding: 5px 14px;
    border-radius: 5px;
    background-color: #2f3640;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}